/* CSS declarations go here */
html,body{
  padding:0;
  height:100%;
  margin:0;
  font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}
body{
  text-align: center;
  background:hotpink url('buzz.svg') center bottom no-repeat;
  background-size:30% auto;
}
body.buzz{
  background-color: red;
}
body.buzz:after{
  content:'BUZZ!',
  display:block;
  font-family: monospace;
  font-size: 60px;
}

button{
  font-size: 20px;
  background: lightcyan;
  padding:18px 28px;
  border-radius:38px;
  border: none;
}
button:hover{
  background: cyan;
}